.contentNews {
    width: 30%;
    border-left: 1px solid silver;
    font-family: "Arial";
    overflow: hidden;

}

.list-item {
    list-style: none;
    overflow: auto;
    height: 100vh;
    margin: 0;
    padding: 0;
    padding: 6px;
    background-color: rgb(244, 248, 248);

    form{
        margin-bottom: 50px;
        .news-search{
            width:26%;
           border: none;
           padding: 10px;
           border-radius: 99px;
           font-size: 16px;
           background-color: rgb(230,235,239);
           position: fixed;
           
           &:before{
               content: "";
               display: block;
               background-position: center;
               background-size: cover;
               background-image: url("../../img/search.png");
               width: 25px;
               height: 25px;
           }
          
           &:focus{
               border: 2px solid rgb(80,171,241);
               outline: none;
           }
        }
    }

    .item-news {

       overflow: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;
        margin-top: 10px;
        width: 95%;
        border: 1px solid rgb(235, 225, 225);
        box-shadow: 0 0 5px 3px rgb(235, 225, 225);
        background-color: rgb(230,235,239);
        padding: 3px;
        h3{
            text-shadow: 0px 1px 2px rgb(82, 80, 80);
            line-height: 30px;
        }
        p{
            line-height: 26px;
        }

    }

}